.form-control {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    margin-top:10px;
    margin-bottom: 20px;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control input {
/*    border-color: #ccc;*/
/*    border-style: solid;*/
    font-size: 1.4rem;
}